SERVICE_PORT=3006
SERVICE_NAME=cogquiz-paypal-service
NODE_ENV=development
DATABASE_URL=postgresql://doadmin:YOUR_DB_PASSWORD_HERE@dbaas-db-8001260-do-user-15534724-0.a.db.ondigitalocean.com:25060/defaultdb?schema=public
JWT_SECRET=your-jwt-secret-here
PAYPAL_MODE=sandbox
CLIENT_ID=your-paypal-client-id
CLIENT_SECRET=your-paypal-client-secret
ENCRYPTION_KEY=secret-key
CORS_ORIGIN=http://localhost:3000
